body {
    background-image: url('/images/blurred-restaurant-scene-with-empty-tabletop-free-photo.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFFFFF;
}

h1 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: rgb(153, 101, 27);
}

h2 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: rgb(153, 101, 27);
}

from {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

::placeholder{
    color: #000000;
  }


