#menu-hamburguesa {
    display: none;
    background-color: #333;
    width: 100%;
    text-align: center;
  }

#menu-hamburguesa ul li {
    padding: 15px 0;
  }
#menu-hamburguesa ul li a {
    color: #fff;
    font-size: 18px;
    font-family: sans-serif;
  }
#boton-hamburguesa {
    background-color: #333;
    color: #fff;
    font-size: 24px;
    font-family: sans-serif;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
/* Transición suave al desplegar el menú */
#menu-hamburguesa {
    /* ...otros estilos... */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
#menu-hamburguesa.mostrando {
    max-height: 500px; /* Ajustar este valor según la altura máxima del menú */
  }
  
  /* Cambio de color al pasar el cursor sobre los enlaces del menú */
#menu-hamburguesa ul li a:hover {
    color: #ff9800;
  }
  
  /* Rotar el icono de la hamburguesa al abrir el menú */
#boton-hamburguesa span.rotar {
    transform: rotate(90deg);
  }