.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background-color: #AA8C2C;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form form {
  display: flex;
  flex-direction: column;
}

.login-form .form-group input,
.login-form .form-group button {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: black;
  color: white;
}

.login-form button {
  background-color: #AA8C2C;
  color: white;
  border: none;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #1b1a14;
  border-radius: 3px;
}